:root{
    --black: #000000;
    --white: #FDFDFD;
    --gray: #FDFDFD;
    --darkgray: #BDBDBD;
}

body{
    display: flex;
    font-family: "PT Sans", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.small-background{
    max-width: 50rem;
    width: 100%;
    background-color: var(--black);
    max-height: 12.5rem;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: var(--gray);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    width: 900px;
    border: 2px solid var(--black);
    border-radius: 30px;
    padding-left: 70px;
}   

.text{
    font-size: 25px;
    max-width: 800px;
    margin-bottom: 20px;
}

span{
    font-size: 20px;
    margin-top: 20px;
}

.button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    color: var(--darkgray);
    /* text-decoration: underline; */
    margin-bottom: 30px;
    transition: 0.3s ease-in;
}

.button:hover{
    color: var(--black);
}

.active{
    outline: none;
    color: var(--black);
    font-weight: bold;
    text-decoration: underline;
}

.buttons{
    display: flex;
    gap: 16px;
}