:root{
    --black: #000000;
    --white: #FDFDFD;
    --gray: #FDFDFD;
    --darkgray: #BDBDBD;
}

body{
    display: flex;
    font-family: "PT Sans", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.small-background{
    width: max(250px, 31vw);
    background-color: var(--black);
    max-height: 12.5rem;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: var(--gray);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max(200px, 39vh);
    width: max(400px, 35vw);
    border: 2px solid var(--black);
    border-radius: 30px;
}   

.text{
    font-size: 25px;
    max-width: 800px;
    margin-bottom: 20px;
}

span{
    font-size: 20px;
    margin-top: 20px;
}

.button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    color: var(--darkgray);
    /* text-decoration: underline; */
    margin-bottom: 30px;
    transition: 0.3s ease-in;
}

.button:hover{
    color: var(--black);
}

.active{
    outline: none;
    color: var(--black);
    font-weight: bold;
    text-decoration: underline;
}

.buttons{
    display: flex;
    gap: 16px;
}

@media (max-width: 500px) {
    .container{
        width: 90vw;
    }
    .text{
        font-size: 15px;
        max-width: 350px;
    }
    .button{
        font-size: 15px;
        margin-top: 20px;
    }
    .buttons{
        flex-wrap: wrap;
        justify-content: center;
    }
    span{
        font-size: 15px;
        margin-bottom: 15px;
    }
    h2{
        font-size: max(5px, 16px);
        white-space: nowrap;
    }
    .small-background{
        width: 80%;
        padding: 20px;
    }
}