body{
    display: flex;
    font-family: "PT Sans", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.small-background{
    width: 50%;
    background-color: #000000;
    height: 25%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: #FDFDFD;
}