:root{
    --black: #000000;
    --white: #FDFDFD;
    --gray: #FDFDFD;
    --darkgray: #BDBDBD;
}

body{
    display: flex;
    font-family: "PT Sans", sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.small-background{
    width: max(250px, 31vw);
    background-color: var(--black);
    max-height: 12.5rem;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: var(--gray);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max(200px, 39vh);
    width: max(400px, 35vw);
    border: 2px solid var(--black);
    border-radius: 30px;
}   

.text{
    font-size: clamp(14px, 2.5vw, 25px);
    max-width: 800px;
    margin-bottom: 20px;
}

span{
    font-size: 20px;
    margin-top: 20px;
}

.button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    color: var(--darkgray);
    margin-bottom: 30px;
    transition: 0.3s ease-in;
}

.button:hover{
    color: var(--black);
}

.active{
    outline: none;
    color: var(--black);
    font-weight: bold;
    text-decoration: underline;
}

.buttons{
    display: flex;
    gap: 16px;
}

@media (max-width: 500px) {
    .container{
        width: 90vw;
    }
    .text{
        font-size: 15px;
        max-width: 350px;
    }
    .button{
        font-size: 15px;
        margin-top: 40px;
    }
    .buttons{
        flex-wrap: wrap;
        justify-content: center;
    }
    span{
        font-size: 15px;
        margin-bottom: 15px;
    }
    h2{
        font-size: max(5px, 16px);
        white-space: nowrap;
    }
    .small-background{
        width: 80%;
        padding: 20px;
    }
}

@media (max-width: 900px) and (min-width: 501px) {
  .container{
    width: 75vw; 
    max-width: 720px; 
    height: auto;  
    padding: 24px;
  }

  .text{
    font-size: 20px; 
    max-width: 100%;
    text-align: center;
  }

  .small-background{
    width: 60%;     
    height: auto;
    padding: 24px;
  }

  h2{
    font-size: 22px;
    white-space: normal; 
    text-align: center;
  }

  .button{
    font-size: 25px;
    margin-bottom: 18px;
  }

  .buttons{
    justify-content: center;
    flex-wrap: nowrap; 
  }
}

@media (max-width: 1600px) and (min-width: 901px) {
  .container{
    width: 75vw; 
    max-width: 720px; 
    height: auto;  
    padding: 24px;
  }

  .text{
    font-size: 20px; 
    max-width: 100%;
    text-align: center;
  }

  .small-background{
    width: 60%;     
    height: auto;
    padding: 24px;
  }

  h2{
    font-size: 22px;
    white-space: normal; 
    text-align: center;
  }

  .button{
    font-size: 27px;
    margin-bottom: 18px;
  }

  .buttons{
    justify-content: center;
    flex-wrap: nowrap; 
  }
}
