<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Changelog Component</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Changelog</h1>
            <p>Here's everything we have shipped in the past few days</p>
        </header>
        <div class="log">
            <div class="line"></div>
        <div class="time">Sep 03, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.1.0</div>            
            <div class="title">Announcing Projects on Frontend Roadmap</div>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quasi ducimus ullam dignissimos architecto.</p>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur:</p>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            </ul>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laudantium pariatur perferendis!</p>
        </div>
    </div>
        <div class="log">
            <div class="line"></div>
        <div class="time">Aug 28, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.0.5</div>            
            <div class="title">Build your learning habits with learning streaks</div>
            <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores praesentium consectetur dolor illo eaque temporibus, culpa reiciendis ratione!</p>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti natus corporis veniam!</p>
        </div>
    </div>
        <div class="log">
            <div class="line"></div>
        <div class="time">Aug 25, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.0.4</div>            
            <div class="title">Git and Github Roadmap</div>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit:</p>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti natus corporis veniam!</p>
        </div>
    </div>
        <div class="log">
            <div class="line"></div>
        <div class="time">Aug 22, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.0.3</div>            
            <div class="title">Submit your project solution and get feedback</div>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, maxime culpa! Quis nesciunt ipsum quam.</p>
            <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, libero.</p>
        </div>
    </div>
        <div class="log">
            <div class="line"></div>
        <div class="time">Aug 15, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.0.2</div>            
            <div class="title">Backend Project Ideas</div>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde tenetur, nisi nam voluptatem sapiente id! Mollitia molestiae consequatur aliquid animi vero dolores dolorem dolor?</p>
            <ul>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
        </div>
    </div>
        <div class="log">
            <div class="line"></div>
        <div class="time">Aug 10, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.0.1</div>            
            <div class="title">Redis roadmap</div>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione voluptate exercitationem assumenda dolorum atque aliquam optio quaerat rerum cumque est.</p>
        </div>
    </div>
    <div class="log">
        <div class="line"></div>
        <div class="time">Aug 01, 2024 <div class="ball"></div></div>
        <div class="data">
            <div class="version">1.0.0</div>            
            <div class="title">Changelog page to help you stay in the loop</div>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione voluptate exercitationem assumenda dolorum atque aliquam optio quaerat rerum cumque est.</p>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur:</p>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
            <p class="lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus ab beatae quam nemo, et cupiditate magnam laboriosam rerum repudiandae magni?</p>
        </div>
    </div>
    <button>Visit Complete Changelog</button>
    <br>
    <br>
    <br>
    <p>&copy; 2025, Made by Ggahramaq</p>
</body>
</html>
